<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="font-bold text-5xl my-5 text-center">About us</h2>

    <p class="text-zinc-300 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quod fuga, ipsam omnis labore ad beatae officia autem illo aspernatur minus, maiores ipsum a saepe! Rerum blanditiis nesciunt maxime fugiat aperiam error exercitationem illum dolores natus hic fugit.</p>
</section>