<header class="bg-zinc-900 flex flex-col md:flex-row gap-3 p-20 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
        
        <p class="text-2xl my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi illo consequuntur quod deserunt eius nesciunt blanditiis optio eaque incidunt consequatur minima quisquam, aliquam itaque rerum sint corporis consectetur illum exercitationem odio cumque. Maiores dicta vel aliquid fugit!?</p>
        
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
            Start Now
        </button>
    </div>

    <img src="/public/images/fingerprint.svg" alt="fingerprint" class="w-80">
</header>